.contacts {
  &__more {
    margin-bottom: 15px;
  }

  &__info {
    padding-left: 32px;
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background-position: left;

    @include line-clamp(16, 2, 1);

    &--address {
      background-image: url('../images/svg/map.svg');
    }

    &--phone {
      background-image: url('../images/svg/phone.svg');
    }

    &--email {
      background-image: url('../images/svg/email.svg');
    }
  }
}