$accent: #FF6838;
$accent-2: #FF7A50;
$orange100: #FFF2ED;
$silver-200: #ececec;
$silver-100: #F9FAFF;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$darkGreen: #31352B;
$lightBlue: #00aaff;
$red500: #ff2222;
$white: #ffffff;

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
