.footer {
  &__top {
    display: flex;
    padding-bottom: 88px;
  }

  &__inner {
    margin-right: 69px;
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__box {
    column-count: 3;

    &:not(:last-child) {
      margin-right: 75px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__about {
    letter-spacing: 0.01em;

    @include line-clamp(18, 1.3, 1);
  }

  &__bottom {
    padding: 30px;
    text-align: center;
    border-top: 1px solid $gray;
  }

  &__text {
    @include line-clamp(14, 1, 1);
  }
}