.icons {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 39px;
    background-color: $silver-200;
    border-radius: 50%;
    transition: background-color 0.5s, bax-shadow 0.5s, fill 0.5s;

    svg {
      fill: $darkGreen;
      stroke: $darkGreen;
    }

    &:focus {
      background-color: $orange100;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      svg {
        fill: $darkGreen;
        stroke: none;
      }
    }

    &:hover {
      background-color: $accent-2;

      svg {
        fill: $white;
        stroke: none;
      }
    }

    &:active {
      background-color: $orange100;

      svg {
        fill: $accent-2;
        stroke: none;
      }
    }
  }

  &__image {
    &--facebook {
      width: 9px;
      height: 20px;
    }

    &--twitter {
      width: 20px;
      height: 16px;
    }

    &--instagram {
      width: 19.5px;
      height: 19.5px;
    }
  }
}